In [1]:
import pandas as pd

In [2]:
# Import modules from src
import sys
sys.path.append('../src/')  # Add src to path

In [3]:
from oracle_loader import load_data_to_oracle

Connection successful!

In [4]:
# import cx_Oracle
# try:
#     conn = cx_Oracle.connect("bank_reviews/1431@localhost:1521/XE")
#     print("Connection successful!")
#     conn.close()
# except Exception as e:
#     print(f"Connection failed: {e}")

In [5]:
df = pd.read_csv('../datasets/processed/sentiment_theme.csv', parse_dates=['date'])

In [6]:
df

,review,rating,date,bank,language,processed_review,sentiment,label,keywords,theme,cluster_theme
0,very niec,5.0,2025-06-04,CBE,en,niec,0.0000,neutral,[],Other,1
1,best app of finance,5.0,2025-06-04,CBE,en,best app finance,0.6369,positive,"['best app', 'best', 'app']",Other,2
2,yetemeta,1.0,2025-06-03,CBE,en,yetemeta,0.0000,neutral,[],Other,1
3,Engida Kebede Fetera,5.0,2025-06-03,CBE,en,engida kebede fetera,0.0000,neutral,[],Other,1
4,good,5.0,2025-06-03,CBE,en,good,0.4404,positive,['good'],Other,1
...,...,...,...,...,...,...,...,...,...,...,...
1432,Faster and userfriendly,5.0,2025-01-14,Dashen,en,faster userfriendly,0.0000,neutral,[],Other,3
1433,"Waw Great and innovated,user friendly, always ...",5.0,2025-01-13,Dashen,en,waw great innovateduser friendly always one st...,0.8074,positive,"['ahead', 'one step', 'step', 'always', 'great']",Other,3
1434,It's Best waww üôè,5.0,2025-01-13,Dashen,en,best waww,0.6369,positive,['best'],Other,3
1435,Always one step ahead,5.0,2025-01-13,Dashen,en,always one step ahead,0.0000,neutral,"['ahead', 'one step', 'step', 'always', 'one']",Other,3
1436,"Like Me, I Hope It Works Better Than Before.",5.0,2025-01-11,Dashen,en,like hope works better,0.8074,positive,"['better', 'like']",Other,0

In [7]:
# import oracledb

# # Don't call init_oracle_client() to stay in thin mode
# conn = oracledb.connect(
#     user="bank_reviews",
#     password="1431",
#     dsn="localhost:1521/XE"  # Adjust host and service name
# )
# print("Connection successful!")

In [8]:
print(df.columns.tolist())

['review', 'rating', 'date', 'bank', 'language', 'processed_review', 'sentiment', 'label', 'keywords', 'theme', 'cluster_theme']

In [9]:
df.describe()

            rating                           date    sentiment  cluster_theme
count  1437.000000                           1437  1437.000000    1437.000000
mean      3.707029  2025-01-09 14:07:45.970772480     0.247111       1.521225
min       1.000000            2020-08-08 00:00:00    -0.964100       0.000000
25%       2.000000            2024-10-15 00:00:00     0.000000       1.000000
50%       5.000000            2025-03-22 00:00:00     0.318200       1.000000
75%       5.000000            2025-04-21 00:00:00     0.599400       3.000000
max       5.000000            2025-06-04 00:00:00     0.984100       3.000000
std       1.721901                            NaN     0.414252       0.944343

In [10]:
load_data_to_oracle(df)

Inserted bank: CBE with ID 66
Inserted bank: BOA with ID 67
Inserted bank: Dashen with ID 68
‚úÖ Inserted 1437 reviews successfully.
‚ö†Ô∏è Skipped 0 problematic rows.